
/* 

@media (min-width: 1024px) {
}

@media (min-width: 768px) and (max-width: 1023px) {
}

@media (max-width: 767px) {
} */
.conteiner {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}
.header {
  border-bottom: 1px solid var( --background-stik);
  position: relative;
   z-index: 1004;
   background: linear-gradient(
    90deg,
    rgb(38, 38, 41) -0.513%,
    rgb(27, 27, 31) 78.904%
  );

}

.burger {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  width: 27px;

}
.notification {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}
body {
  background: linear-gradient(
    90deg,
    rgb(38, 38, 41) -0.513%,
    rgb(27, 27, 31) 78.904%
  );
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.logo {
  color: var(--title-color);
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
}
.nav-list-item:not(:first-child):not(:last-child) {
  margin-right: 24px;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 16px 0;

}
.navigation-list {
  display: flex;
  font-family: Geologica;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
gap: 4px;
}
.navigation-item {
  padding-top: 24px;
}
.navigation-list-item {
  color: var(--title-deskr-color);
  padding-right: 5px;
  padding-left: 5px;
  
}



.navigation-item-menu{
  display: flex;
  color: var(--title-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin-right: 5px;

}
.navigation-item-menu-title{
  margin-left: 6px;
color: var(--title-color);
font-size: 16px;
font-weight: 600;
line-height: 20px;
}

.title-work {
  color: var(--title-color);
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.form-work {
  display: flex;
  flex-direction: column;
  border: 1px solid var( --background-stik);
  border-radius: 10px;
  padding: 20px;
  backdrop-filter: blur(54px);
  background: var(--background-form);
}
.form-work-item {
  margin-bottom: 10px;
  border-radius: 9px;
  background: var(--background-input);
  padding: 10px 16px 12px 16px;
  outline: 0;
  border: 0;
  color: wheat;
}
.work-button {
  border-radius: 8px;
  background: var(--backround-button);
  padding: 10px 16px 12px 16px;
  border: 0;
  color: var(--title-buutton-color);
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0%;
}


.want-work__placeholder {
  background-image: url("/img/icons.svg");
  background-repeat: no-repeat;
  background-position: 10px center; /* Позиционирование по оси X и оси Y */
  padding-left: 40px; /* Увеличить отступ слева для текста */
  background-size: 24px 24px; /* Размер картинки */
}
.want-work {
  background-color: rgba(54, 54, 57, 0.5);
  height: 1px;
  width: 100%;
  margin-bottom: 16px;
  margin-top: 6px;
}
.country__placeholder {
  background-image: url("/img/country.svg");
  background-repeat: no-repeat;
  background-position: 10px center; /* Позиционирование по оси X и оси Y */
  padding-left: 40px; /* Увеличить отступ слева для текста */
  background-size: 24px 24px; /* Размер картинки */
}
.city__placeholder {
  background-image: url("/img/icon_map.svg");
  background-repeat: no-repeat;
  background-position: 10px center; /* Позиционирование по оси X и оси Y */
  padding-left: 40px; /* Увеличить отступ слева для текста */
  background-size: 24px 24px; /* Размер картинки */
}
.address__placeholde {
  background-image: url("/img/map_pinned.svg");
  background-repeat: no-repeat;
  background-position: 10px center; /* Позиционирование по оси X и оси Y */
  padding-left: 40px; /* Увеличить отступ слева для текста */
  background-size: 24px 24px; /* Размер картинки */
}
.sort {
  border: 1px solid var( --background-stik);
  border-radius: 10px;
  backdrop-filter: blur(54px);
  background: var(--background-form);
  margin-top: 16px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.sort-list {
  display: flex;
  justify-content: space-between;
}
.sort-title {
  color: var(--title-deskr-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  display: flex;
}
.sort-title::before {
  content: url("/img/Vector.svg");
  margin-right: 9px; /* Расстояние между изображением и текстом */
  width: 18px;
  height: 16px;
}

.sort-money,
.sort-location,
.sort-clock {
  color: var(--title-deskr-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  display: flex;
  align-items: center;
}

.sort-money::before {
  content: url("/img/money.svg");
  margin-right: 2px; /* Расстояние между изображением и текстом */
  width: 24px;
  height: 24px;
}

.sort-location::before {
  content: url("/img/Locate.svg");
  margin-right: 2px; /* Расстояние между изображением и текстом */
  width: 24px;
  height: 24px;
}

.sort-clock::before {
  content: url("/img/clock.svg");
  margin-right: 2px; /* Расстояние между изображением и текстом */
  width: 24px;
  height: 24px;
}

.sort-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 16px 12px 16px;
  width: 100%;
  border-radius: 8px;
  background: var(--backround-button);
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  color: var(--title-buutton-color);
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0%;
}
.hover-button:hover:focus {
  background-color: var(--hover-button);
}
.clean-filter {
  margin-left: auto;
  background: none;
  border: none;
  color: var(--title-deskr-color);
  font-family: Geologica;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0%;
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.custom-checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  color: var(--title-deskr-color); 
}
.custom-checkbox + label::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  background-image: url("/img/checkbox_radiobut.svg");
  margin-right: 0.5em;
}
.custom-checkbox:checked + label::before {
  background-image: url("/img/checkbox_radiobut._active.svg");
}

.visitors {
  color: var(--title-color);
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  padding-top: 16px;
}

.work-card-wraper {
  margin-top: 40px;
}

.work-card {
  border-radius: 10px;
  backdrop-filter: blur(54px);
  background: var(--backround-work);
  padding: 20px;
  margin-top: 20px;
}
.work-card-element-top {
  display: flex;
  justify-content: space-between;
}
.work-card-state {
  border-radius: 30px;
  background: var(--backround-desr-icon);
  padding: 4px 20px 4px 20px;
  color: var(--title-buutton-color);
  font-family: Geologica;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin-right: 6px;
}

.work-card-timeend::before {
  content: url("/img/card-clock-item.svg");
  margin-right: 5px;
  width: 16px;
  height: 16px;
}
.work-card-timeend {
  border-radius: 30px;
  background: var( --backround-button-icon);
  padding: 4px 20px 4px 20px;
  color: var(--title-buutton-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  display: flex;
}
.work-card-flex {
  display: flex;
  flex-direction: row;
}

.work-card-uploadtime {
  color: var(--title-deskr-color);
  font-family: Geologica;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.work-card-vacancy {
  color: var(--title-color);
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
  padding-top: 20px;
}
.work-card-addres {
  color: var(--title-deskr-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  padding-top: 12px;
}
.work-card-startwork {
  color: var(--title-deskr-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  padding-top: 12px;
}
.work-card-startwork-data {
  color: var(--title-color);
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0%;
  padding-left: 8px;
}
.work-card-startwork-time {
  color: var(--title-color);
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0%;
  padding-left: 12px;
}
.work-card-element-requirements {
  display: flex;
  margin-top: 20px;
}
.work-card-element-requirements-payment {
  color: var(--title-buutton-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  border-radius: 30px;
  background: var(--backround-button);
  padding: 6px 10px;
  margin-right: 8px;
}
.work-card-element-requirements-time {
  color: var(--title-buutton-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  border-radius: 30px;
  background: var(--backround-button);
  padding: 6px 10px;
}
.work-card-element-requirements-people {
  color: var(--title-buutton-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  border-radius: 30px;
  background: var(--backround-button);
  padding: 6px 10px;
  margin-top: 8px;
}

.work-card-element-requirements-payment::before {
  content: url("/img/money-card.svg");
  margin-right: 5px;
  width: 16px;
  height: 16px;
}
.work-card-element-requirements-time::before {
  content: url("/img/clock-card.svg");
  margin-right: 5px;
  width: 16px;
  height: 16px;
}

.work-card-element-requirements-people::before {
  content: url("/img/round-card.svg");
  margin-right: 5px;
  width: 16px;
  height: 16px;
}
.work-card-element-requirements-wraper {
  display: flex;
  align-items: self-end;
}
.work-card-element-requirements {
  display: flex;
  flex-wrap: wrap;
}
.work-icon {
  display: flex;
  align-items: center;
}
.work-card-element-favorite {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}
.return-back {
  border-radius: 8px;
  background: var(--backround-button);
  color: var(--title-buutton-color);
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  padding: 10px 16px 12px 16px;
  margin-top: 24px;
  margin-bottom: 60px;
}
.stik {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  background: var( --background-stik);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}


.footer{
  background: var(--backround-footer);
}
.lang{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top:63px ;
}
.lang-v{
color: var(--title-deskr-color);
font-size: 14px;
font-weight: 400;
line-height: 18px;
display: flex;
align-items: center;

}
.lang-v:not(:last-child){
  margin-bottom: 15px;
}
.lang-v-select{
color: var(--title-color);
font-size: 14px;
font-weight: 600;
line-height: 18px;
margin-left: 4px;
}
.lang-language::before{
  content: url("/img/inet.svg");
  margin-right: 5px;
  width: 24px;
  height: 24px;
}
.lang-currency::before{
  content: url("/img/money-footer.svg");
  margin-right: 5px;
  width: 24px;
  height: 24px;
}
.lang-v-select::after{
  content: url("/img/arrow.svg");
  margin-left: 5px;
  width: 24px;
  height: 24px;

}
.footer-navigation-list{
  display: flex;
 justify-content: space-evenly;
 margin-top: 35px;
 margin-bottom: 20px;
}
.footer-navigation-item-link{
color: var(--title-deskr-color);
font-family: Geologica;
font-size: 14px;
font-weight: 400;
line-height: 18px;
}
.footer-nav-dok{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}
.footer-nav-dok-link{
color: var(--title-deskr-color);
font-size: 14px;
font-weight: 400;
line-height: 18px;
}
.footer-email-link{
color: var(--title-deskr-color);
font-size: 14px;
font-weight: 400;
line-height: 18px;
}
.footer-email-link{
 display: flex;
justify-content: center;
margin-bottom: 32px;
}

.footer-pay-list{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 22px;

}
.footer-link{
  display: flex;
  justify-content: center;
color: var(--title-deskr-color);
font-size: 12px;
font-weight: 400;
line-height: 15px;
padding-bottom: 60px;

}