.profile-user-photo-big {
  max-width: 100%;
  margin-top: 24px;
  margin-bottom: 16px;
}
.profile-user-name {
  color: rgb(241, 241, 241);
  font-size: 24px;
  font-weight: 600;
  line-height: 1.25;
  margin-right: 10px;
  margin-top: 20px;
}

.edit-button-profile {
  display: flex;
  justify-content: space-between;
}
.edit-button {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.25;
  border-radius: 8px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: rgb(15, 106, 190);
  padding: 12px 16px;
  display: flex;
  align-items: center;
  gap: 10px;
}


.profile-name-wrapper{
  display: flex;
  align-items: baseline;
}
.profile-star {
  color: rgb(241, 241, 241);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  display: flex;
}
.profile-star::after {
  content: url("/img/star.svg");
  margin-left: 4px;
}
.wrapper-star {
  display: flex;
  align-items: center;
}

.profile-star-number {
  border-bottom: 1px solid rgb(122, 122, 126);
  color: rgb(122, 122, 126);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  margin-left: 5px;
}

.profile-name-wraper {
  display: flex;
  align-items: center;
}
.profile-user-location {
  color: rgb(122, 122, 126);
  font-size: 16px;
  font-weight: 400;

  line-height: 1.25;
  padding-top: 10px;
  padding-bottom: 29px;
}
.profile-user-action {
  display: flex;
  gap: 20px;
}

.profile-button-action {
  display: flex;
  align-items: center;
  padding-bottom: 24px;
}

.profile-button-action-share::before {
  content: url("/img/share.svg");
  margin-right: 8px;
}

.profile-button-action-bloced::before {
  content: url("/img/blocker.svg");
  margin-right: 8px;
}
.profile-button-action {
  color: rgb(122, 122, 126);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
}
.profile-user-desc-title {
  color: rgb(241, 241, 241);
  font-size: 20px;
  font-weight: 600;
  line-height: 1.25;
  padding-bottom: 16px;
}
.profile-user-desc {
  color: rgb(122, 122, 126);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  padding-bottom: 16px;
}
.profile-orders-list {
  display: flex;
  padding-bottom: 24px;
}

.profile-orders-item {
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.25;
  border-radius: 30px;
  padding: 6px 11px 7px 11px;
  background: rgba(255, 255, 255, 0.1);
}
.contact {
  display: flex;
  border: 1px solid rgb(54, 54, 57);
  border-radius: 8px;
  background: rgb(45, 45, 50);
  padding: 16px;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 40px;
}
.contact-title {
  color: rgb(241, 241, 241);
  font-size: 20px;
  font-weight: 600;
  line-height: 1.25;
  padding-bottom: 22px;
}

.contact-telephone {
  color: rgb(241, 241, 241);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
}
.contact-list {
  display: flex;
  gap: 16px;
}

.revies-title-list {
  display: flex;
  gap: 12px;
}
.revies-title-item {
  color: rgb(241, 241, 241);
  font-size: 20px;
  font-weight: 600;
  line-height: 1.25;
}

.revies-title-item-1 {
  padding-bottom: 5px;
  border-bottom: 3px solid rgb(197, 136, 17);
}
.revies-title-item-2 {
  color: rgb(122, 122, 126);
  font-family: Geologica;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0%;
}
.slider-reviews {
  overflow-x: auto;
  white-space: nowrap;
}

.slider-reviews::-webkit-scrollbar {
  display: none;
}

.revies-title-item {
  display: inline-block;
  margin-right: 8px;
}

.profile-reviews-card-list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.profile-reviews-card-item {
  padding: 20px;
  border-radius: 10px;
  background: rgb(75, 75, 82);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.profile-reviews-card-item-title {
  color: rgb(241, 241, 241);
  font-size: 16px;
  font-weight: 600;
}

.work-icon {
  margin: 20px 0;
}
.profile-reviews-star-list {
  display: flex;
  gap: 4px;
}
.profile-reviews-star-item-img {
  width: 24px;
  height: 24px;
}

.profile-reviews-card-item-desc {
  color: rgb(241, 241, 241);
  font-family: Geologica;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  margin-top: 8px;
}

.profile-reviews-card-user-wraper {
  display: flex;
  margin-top: 16px;
}

.profile-reviews-card-user-name {
  color: rgb(241, 241, 241);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.25;
  padding-bottom: 5px;
}

.profile-reviews-card-user-photo {
  margin-right: 8px;
}
.profile-reviews-card-user-desc {
  display: flex;
  gap: 4px;
  align-items: flex-end;
}
.profile-reviews-card-user-desc-number-star {
  color: rgb(241, 241, 241);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.28;
}
.profile-reviews-card-user-desc-number-star-img {
  width: 21px;
}
.profile-reviews-card-user-quantity {
  color: rgb(122, 122, 126);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.28;
}
.profile-reviews-card-user-time {
  color: rgb(122, 122, 126);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
}
.profile-reviews-card-user-desc-wraper {
  display: flex;
}

.profile-reviews-card-user-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
}

.wraper-update-profile {
  background: rgb(45, 45, 50);
  min-height: 100px;
  z-index: 20000;
  padding: 32px 20px 32px 20px;
  position: fixed;

  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.update-profile-exit-list {
  display: flex;
  justify-content: space-between;
}

.update-profile-back {
  display: flex;
  align-items: center;
}

.update-profile-exit-back-title {
  color: rgb(241, 241, 241);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  margin-left: 5px;
}
.update-profile-title {
  color: rgb(241, 241, 241);
  font-size: 20px;
  font-weight: 600;
  line-height: 1.24;
  text-align: center;
  margin-top: 25px;
}

.update-profile-user-avatar-wraper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.update-profile-user-avatar {
  margin-top: 24px;
}

.file-upload-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.file-upload-btn {
  color: rgb(241, 241, 241);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.25;
  cursor: pointer;
}
.file-upload-wrapper input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.update-profile-input-name-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.update-profile-input-surname-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}

.update-profile-label-name {
  color: rgb(241, 241, 241);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
}
.update-profile-input-name {
color: rgb(241, 241, 241);
font-size: 16px;
font-weight: 400;
line-height: 1.25;
  border-radius: 8px;
  background: rgb(75, 75, 82);
  padding: 12px 16px 12px 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25;
  border-color: rgb(75, 75, 82);
  min-width: 227px;
  outline: 0;
  border: 0;
}
.update-profile-label-surname {
  color: rgb(241, 241, 241);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
}
.update-profile-input-surname {
  color: rgb(241, 241, 241);
font-size: 16px;
font-weight: 400;
line-height: 1.25;
  border-radius: 8px;
  padding: 12px 16px 12px 16px;
  background: rgb(75, 75, 82);
  min-width: 227px;

  outline: 0;
  border: 0;
}
.update-profile-location-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 8px;
}
.update-profile-location-list-wraper {
  display: flex;
  gap: 3px;
  justify-content: space-between;
}
.update-profile-location-country {
  border-radius: 8px;
  background: rgb(75, 75, 82);
  color: rgb(241, 241, 241);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25;
  outline: 0;
  border: 0;
  padding: 13px 0 13px 0;
  max-width: 175px;
}

.update-profile-location-country__placeholder {
  background-image: url("/img/country.svg");
  background-repeat: no-repeat;
  background-position: 10px center;
  padding-left: 40px;
  background-size: 24px 24px;
}
.update-profile-location-city {
  border-radius: 8px;
  background: rgb(75, 75, 82);
  color: rgb(241, 241, 241);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25;
  outline: 0;
  border: 0;
  padding: 13px 0 13px 0;
  max-width: 175px;
}

.update-profile-location-city__placeholder {
  background-image: url("/img/icon_map.svg");
  background-repeat: no-repeat;
  background-position: 10px center;
  padding-left: 40px;
  background-size: 24px 24px;
}

.update-profile-location-street {
  border-radius: 8px;
  background: rgb(75, 75, 82);
  color: rgb(241, 241, 241);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25;
  outline: 0;
  border: 0;
  padding: 13px 0 13px 0;
}

.update-profile-location-street__placeholder {
  background-image: url("/img/map_pinned.svg");
  background-repeat: no-repeat;
  background-position: 10px center;
  padding-left: 40px;
  background-size: 24px 24px;
}
.update-profile-location-desk {
  color: rgb(122, 122, 126);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.25;
  margin-top: 8px;
}

.update-profile-delete-profile {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.update-profile-delete-text {
  color: rgb(122, 122, 126);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25;
  margin-left: 8px;
}

.update-profile-titile-desk {
  color: rgb(241, 241, 241);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
  margin-top: 24px;
}
.update-profile-desk-area {
  color: rgb(241, 241, 241);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25;
  border-radius: 8px;
  background: rgb(75, 75, 82);
  outline: 0;
  border: 0;
  margin-top: 16px;
  width: 100%;
  padding: 16px 20px 16px 20px;
}

.update-profile-titile-contact {
  color: rgb(241, 241, 241);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
  margin-top: 24px;
}

.update-profile-label-tel-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}
.update-profile-label-tel {
  color: rgb(241, 241, 241);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.25;
  width: 70px;
}
.update-profile-input-tel {
  color: rgb(241, 241, 241);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  border-radius: 8px;
  background: rgb(75, 75, 82);
  outline: 0;
  border: 0;
  padding: 12px 16px 12px 16px;
}
.update-profile-input-massage-list {
  display: flex;
  gap: 24px;
  margin-top: 8px;
}
.update-profile-input-viber-list {
  display: flex;
  gap: 12px;
}

.update-profile-input-viber-list {
  display: flex;
}
.update-profile-label-tel-list {
  display: flex;
  justify-content: space-between;
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  color: var(--title-deskr-color);
}

.custom-checkbox + label::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  background-image: url("/img/checkbox_radiobut.svg");
  margin-right: 0.5em;
}

.custom-checkbox:checked + label::before {
  background-image: url("/img/checkbox_radiobut._active.svg");
}

.update-profile-label-two-tel {
  color: rgb(241, 241, 241);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.25;
}
.update-profile-input-two-tel {
  color: rgb(241, 241, 241);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  border-radius: 8px;
  background: rgb(75, 75, 82);
  outline: 0;
  border: 0;
  padding: 12px 16px 12px 16px;
}

.update-profile-label-telegram-list {
  display: flex;
  justify-content: space-between;
}
.update-profile-label-telegram {
  color: rgb(241, 241, 241);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.25;
  display: flex;
  align-items: center;
  gap: 8px;
}
.update-profile-input-telegram {
  color: rgb(241, 241, 241);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  border-radius: 8px;
  background: rgb(75, 75, 82);
  outline: 0;
  border: 0;
  padding: 12px 16px 12px 16px;
  margin-top: 8px;
}
.update-profile-submit {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.25;
  border-radius: 8px;
  background: rgb(15, 106, 190);
  padding: 10px 16px 12px 16px;
  margin-top: 24px;
  outline: 0;
  border: 0;
}
.update-profile-submit-wraper {
  display: flex;
  justify-content: center;
}
