

.registration-wraper-js{
    display: flex;
    flex-direction: column;
/* display: none;  */
}
.password-section-wraper{
    display: flex;
        flex-direction: column;
        gap: 24px;
        margin-top: 24px;
}

.registration-title {
color: rgb(241, 241, 241);
font-size: 24px;
font-weight: 600;
line-height: 1.25;
text-align: center;
}
.step-list {
display: flex;
justify-content: center;
gap: 20px;
}
.step-item {
color: rgb(122, 122, 126);
font-size: 16px;
font-weight: 600;
line-height: 1.25;

}
.step-item-active {
    padding-bottom: 4px;
    border-bottom: 3px solid rgb(197, 136, 17);
    color: rgb(241, 241, 241);
    font-size: 20px;
    font-weight: 600;
    line-height: 1.25;

}
.registration-desc {
color: rgb(122, 122, 126);
font-size: 14px;
font-weight: 400;
line-height: 1.28;
text-align: center;
}
.registration-button-google {
color: rgb(241, 241, 241);
font-size: 16px;
font-weight: 400;           
line-height: 1.25;
border-radius: 8px;
background: rgb(54, 54, 57);
padding:12.5px 24px;
display: flex;
align-items: center;
gap: 12px;
margin-bottom: 24px;
}
.registration-form-work{
    display: flex;
    flex-direction: column;


}
.registration-form-work-item {
    margin-bottom: 10px;
    border-radius: 9px;
    background: var(--background-input);
    padding:  12.5px 24px ;
    outline: 0;
    border: 0;
    color: wheat;

}


.forgot-password {
color: rgb(241, 241, 241);
font-size: 16px;
font-weight: 600;
line-height: 1.25;
text-align: end;
margin-bottom: 24px;
}
.password-submit-btn {
    color: var(--title-buutton-color);
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    border-radius: 8px;
    background: var(--backround-button);
    padding: 10px 16px 12px 16px;
}