@import url("normalize.css");
@import url("catalog.css");
@import url("main.css");

@font-face {
  font-family: "Geologica";
  src: url("../fonts/Geologica-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Geologica";
  src: url("../fonts/Geologica-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Geologica";
  src: url("../fonts/Geologica-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
body {
  font-family: "Geologica";
}

:root {
  --title-color:rgb(241, 241, 241);
  --title-buutton-color:rgb(255, 255, 255);
  --backround-button:rgb(15, 106, 190);
  --backround-button-icon:rgb(197, 136, 17);
  --background-stik:rgb(54, 54, 57);
   --title-deskr-color:rgb(122, 122, 126);
--background-input:rgb(75, 75, 82);
--background-form:rgb(45, 45, 50);
--backround-desr-icon:rgb(11, 139, 47);
--backround-footer:rgba(0, 0, 0, 0.15);
--backround-work:rgba(255, 255, 255, 0.05);
--hover-button: #0e3e85 ;
} 

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}

.menu-burder {
  display: flex;
  flex-direction: column;
  padding: 20px 24px 24px 24px;
  border: 1px solid rgb(54, 54, 57);
  border-radius: 0px 0px 7px 7px;
  background: var(--background-form);
  display: none;
  position: absolute;
  top: 72px;
  width: 275px;
  height: 537px;
  z-index: 1000;
  right: -100%; 
  z-index: 1001; 
  pointer-events: auto; 
  transition: right 0.3s ease;
}

.menu-burder.open {
  right: 15px; /* Положение, когда меню выехало */
}

.menu-burger-button {
  color: var(--title-color);
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  border-radius: 8px;
  background: var(--backround-button);
  padding: 10px 16px 12px 16px;
}

.menu-burder-item-link {
  color: rgb(241, 241, 241);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
.menu-burder-item {
  border-bottom: 1px solid white;
  padding-bottom: 16px;
  margin-top: 20px;
}

#menu-icon {
  width: auto;
  height: auto;
  transition: transform 0.3s ease;
}
.burger.open #menu-icon {
  transform: rotate(90deg);
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(18px);
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}


.burger-menu-home::before {
  content: url("/img/burger-home-icon.svg");
  margin-right: 8px;
  width: 24px;
  height: 24px;
}

.menu-burder-item-link{
  display: flex;
  align-items: center;
}

.burger-menu-catalog::before {
  content: url("/img/burger-catalog-icon.svg");
  margin-right: 8px;
  width: 24px;
  height: 24px;
}


.burger-menu-user::before {
  content: url("/img/burger-user-icon.svg");
  margin-right: 8px;
  width: 24px;
  height: 24px;
}
.burger-menu-ok::before {
  content: url("/img/burger-ok-icon.svg");
  margin-right: 8px;
  width: 24px;
  height: 24px;
}

.burger-requests-icon::before {
  content: url("/img/burger-requests-icon.svg");
  margin-right: 8px;
  width: 24px;
  height: 24px;
}

.burger-user-round-check::before {
  content: url("/img/burger-user-round-check-icon.svg");
  margin-right: 8px;
  width: 24px;
  height: 24px;
}

.burger-log-out-icon::before {
  content: url("/img/burger-log-out-icon.svg");
  margin-right: 8px;
  width: 24px;
  height: 24px;
}